In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('volleyball_raw.csv')
df.columns

Index(['경기번호', '팀명', '경기날짜', '결과', 'No.', '이름', '출전세트_1set', '출전세트_2set',
       '출전세트_3set', '출전세트_4set', '출전세트_5set', '득점_득점', '공격종합_시도', '공격종합_성공',
       '공격종합_공격차단', '공격종합_범실', '공격종합_성공률', '공격종합_점유율', '오픈_시도', '오픈_성공',
       '오픈_공격차단', '오픈_범실', '오픈_성공률', '오픈_점유율', '시간차_시도', '시간차_성공', '시간차_공격차단',
       '시간차_범실', '시간차_성공률', '시간차_점유율', '이동_시도', '이동_성공', '이동_공격차단', '이동_범실',
       '이동_성공률', '이동_점유율', '후위_시도', '후위_성공', '후위_공격차단', '후위_범실', '후위_성공률',
       '후위_점유율', '속공_시도', '속공_성공', '속공_공격차단', '속공_범실', '속공_성공률', '속공_점유율',
       '퀵오픈_시도', '퀵오픈_성공', '퀵오픈_공격차단', '퀵오픈_범실', '퀵오픈_성공률', '퀵오픈_점유율', '서브_시도',
       '서브_성공', '서브_범실', '서브_성공률', '서브_점유율', '디그_시도', '디그_성공', '디그_실패',
       '디그_범실', '디그_세트당', '디그_점유율', '세트_시도', '세트_성공', '세트_범실', '세트_세트당',
       '세트_점유율', '리시브_시도', '리시브_정확', '리시브_실패', '리시브_세트당', '리시브_점유율', '블로킹_시도',
       '블로킹_성공', '블로킹_유효블락', '블로킹_실패', '블로킹_범실', '블로킹_세트당', '블로킹_점유율',
       '블로킹_어시스트', '벌칙_벌칙', '범실_범실'],
      dtype='object')

### 전처리 과정

In [ ]:
# No. 열 삭제
df_sub = df.drop('No.', axis = 1)
df_sub

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,20,3,5,6,1,0.6,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,10,0,7,3,0,0.0,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,14,4,6,3,0,0.8,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,12,2,2,7,0,0.4,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,28,1,13,9,0,0.2,29.79,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10992,474,KGC인삼공사,2022-02-28,0,김혜원 (S),O,NaN,2,NaN,NaN,...,2,0,1,1,0,0.0,4.44,0,0,0
10993,474,KGC인삼공사,2022-02-28,0,나현수 (C),NaN,17,12,NaN,NaN,...,1,0,0,1,0,0.0,2.22,0,0,2
10994,474,KGC인삼공사,2022-02-28,0,노란 (Li),LI,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0
10995,474,KGC인삼공사,2022-02-28,0,이선우 (L),NaN,2,1,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0,0,0.0,0.00,0,0,0

In [ ]:
# 3경기 이상 출전한 선수만 유지 (출전 세트 결측치가 3개 이상인 선수 제거)
subset = ['출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set']

# thresh = 3 : 정상 값(Not NaN)이 3개 이상만 유지
df_sub = df_sub.dropna(subset = subset, thresh = 3)
df_sub

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_시도,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,20,3,5,6,1,0.60,21.28,1,0,7
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,10,0,7,3,0,0.00,10.64,0,0,6
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,14,4,6,3,0,0.80,14.89,1,0,6
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,12,2,2,7,0,0.40,12.77,3,0,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,28,1,13,9,0,0.20,29.79,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),O,O,O,NaN,NaN,...,14,2,5,5,0,0.67,31.11,2,0,0
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),O,O,O,NaN,NaN,...,2,0,0,2,0,0.00,4.44,3,0,0
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),12,11,11,NaN,NaN,...,0,0,0,0,0,0.00,0.00,0,0,1
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),14,O,O,NaN,NaN,...,4,0,2,1,0,0.00,8.89,2,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0,0,0.00,0.00,0,0,0

In [ ]:
# 스타팅멤버 표시 (3세트 이상 스타팅멤버라면 1 아니면 0)
df_sub['스타팅멤버'] = 0


df_sub.loc[(df_sub.iloc[:, 5:10] == 'O').sum(axis = 1) >= 3, '스타팅멤버'] = 1

df_sub

C:\Users\sujong\AppData\Local\Temp\ipykernel_13660\2433339756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['스타팅멤버'] = 0

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_성공,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,3,5,6,1,0.60,21.28,1,0,7,1
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,0,7,3,0,0.00,10.64,0,0,6,1
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,4,6,3,0,0.80,14.89,1,0,6,1
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,2,2,7,0,0.40,12.77,3,0,1,1
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,1,13,9,0,0.20,29.79,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),O,O,O,NaN,NaN,...,2,5,5,0,0.67,31.11,2,0,0,1
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),O,O,O,NaN,NaN,...,0,0,2,0,0.00,4.44,3,0,0,1
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),12,11,11,NaN,NaN,...,0,0,0,0,0.00,0.00,0,0,1,0
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),14,O,O,NaN,NaN,...,0,2,1,0,0.00,8.89,2,0,0,0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0,0.00,0.00,0,0,0,0

In [ ]:
df_sub['스타팅멤버'].value_counts()

1    5315
0    2801
Name: 스타팅멤버, dtype: int64

#### 경기가 몇 세트를 했는지 찾기....?

In [ ]:
# 경기번호에 대한 행의 갯수와 NaN값 비교
# 4세트 NaN값과 행의 갯수가 같으면 3세트만 진행한 것, 5세트 NaN값과 행의 갯수가 같으면 4세트만 진행한 것, 나머지는 5세트 모두 진행한 것
# 경기번호는 1~474까지 있으므로 range범위 지정

for i in range(1, 475):
    temp = df_sub['경기번호']== i
    if len(df_sub.loc[temp]) == df_sub.loc[temp]['출전세트_4set'].isna().sum():
        df_sub.loc[temp, '세트수'] = 3
    elif len(df_sub.loc[temp]) == df_sub.loc[temp]['출전세트_5set'].isna().sum():
        df_sub.loc[temp, '세트수'] = 4
    else:
        df_sub.loc[temp, '세트수'] = 5

display(df_sub['세트수'].value_counts())
df_sub

C:\Users\sujong\AppData\Local\Temp\ipykernel_13660\200668905.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub.loc[temp, '세트수'] = 5

3.0    3012
4.0    2740
5.0    2364
Name: 세트수, dtype: int64

,경기번호,팀명,경기날짜,결과,이름,출전세트_1set,출전세트_2set,출전세트_3set,출전세트_4set,출전세트_5set,...,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버,세트수
0,1,IBK기업은행,2017-10-14,0,메디 (L),O,O,O,O,O,...,5,6,1,0.60,21.28,1,0,7,1,5.0
1,1,IBK기업은행,2017-10-14,0,고예림 (L),O,O,O,O,O,...,7,3,0,0.00,10.64,0,0,6,1,5.0
2,1,IBK기업은행,2017-10-14,0,김희진 (R),O,O,O,O,O,...,6,3,0,0.80,14.89,1,0,6,1,5.0
3,1,IBK기업은행,2017-10-14,0,김미연 (L),O,O,O,O,O,...,2,7,0,0.40,12.77,3,0,1,1,5.0
4,1,IBK기업은행,2017-10-14,0,김수지 (C),O,O,O,O,O,...,13,9,0,0.20,29.79,2,0,3,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),O,O,O,NaN,NaN,...,5,5,0,0.67,31.11,2,0,0,1,3.0
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),O,O,O,NaN,NaN,...,0,2,0,0.00,4.44,3,0,0,1,3.0
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),12,11,11,NaN,NaN,...,0,0,0,0.00,0.00,0,0,1,0,3.0
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),14,O,O,NaN,NaN,...,2,1,0,0.00,8.89,2,0,0,0,3.0
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),LI,LI,LI,NaN,NaN,...,0,0,0,0.00,0.00,0,0,0,0,3.0

In [ ]:
# 세트수 타입 float64 => int64 변경
df_sub['세트수'] = df_sub['세트수'].astype('int64')
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8116 entries, 0 to 10996
Data columns (total 86 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   경기번호       8116 non-null   int64
 1   팀명         8116 non-null   object
 2   경기날짜       8116 non-null   object
 3   결과         8116 non-null   int64
 4   이름         8116 non-null   object
 5   출전세트_1set  7791 non-null   object
 6   출전세트_2set  7911 non-null   object
 7   출전세트_3set  7896 non-null   object
 8   출전세트_4set  4756 non-null   object
 9   출전세트_5set  2124 non-null   object
 10  득점_득점      8116 non-null   int64
 11  공격종합_시도    8116 non-null   int64
 12  공격종합_성공    8116 non-null   int64
 13  공격종합_공격차단  8116 non-null   int64
 14  공격종합_범실    8116 non-null   int64
 15  공격종합_성공률   8116 non-null   float64
 16  공격종합_점유율   8116 non-null   float64
 17  오픈_시도      8116 non-null   int64
 18  오픈_성공      8116 non-null   int64
 19  오픈_공격차단    8116 non-null   int64
 20  오픈_범실      8116 non-null   int64
 21  오픈_성공률     8116 non-null   float64
 22  오픈_점유율     8116 non-null   float64
 23  시간차_시도     8116 non-null   int64
 24  시간차_성공     8116 non-null   int64
 25  시간차_공격차단   8116 non-null   int64
 26  시간차_범실     8116 non-null   int64
 27  시간차_성공률    8116 non-null   float64
 28  시간차_점유율    8116 non-null   float64
 29  이동_시도      8116 non-null   int64
 30  이동_성공      8116 non-null   int64
 31  이동_공격차단    8116 non-null   int64
 32  이동_범실      8116 non-null   int64
 33  이동_성공률     8116 non-null   float64
 34  이동_점유율     8116 non-null   float64
 35  후위_시도      8116 non-null   int64
 36  후위_성공      8116 non-null   int64
 37  후위_공격차단    8116 non-null   int64
 38  후위_범실      8116 non-null   int64
 39  후위_성공률     8116 non-null   float64
 40  후위_점유율     8116 non-null   float64
 41  속공_시도      8116 non-null   int64
 42  속공_성공      8116 non-null   int64
 43  속공_공격차단    8116 non-null   int64
 44  속공_범실      8116 non-null   int64
 45  속공_성공률     8116 non-null   float64
 46  속공_점유율     8116 non-null   float64
 47  퀵오픈_시도     8116 non-null   int64
 48  퀵오픈_성공     8116 non-null   int64
 49  퀵오픈_공격차단   8116 non-null   int64
 50  퀵오픈_범실     8116 non-null   int64
 51  퀵오픈_성공률    8116 non-null   float64
 52  퀵오픈_점유율    8116 non-null   float64
 53  서브_시도      8116 non-null   int64
 54  서브_성공      8116 non-null   int64
 55  서브_범실      8116 non-null   int64
 56  서브_성공률     8116 non-null   float64
 57  서브_점유율     8116 non-null   float64
 58  디그_시도      8116 non-null   int64
 59  디그_성공      8116 non-null   int64
 60  디그_실패      8116 non-null   int64
 61  디그_범실      8116 non-null   int64
 62  디그_세트당     8116 non-null   float64
 63  디그_점유율     8116 non-null   float64
 64  세트_시도      8116 non-null   int64
 65  세트_성공      8116 non-null   int64
 66  세트_범실      8116 non-null   int64
 67  세트_세트당     8116 non-null   float64
 68  세트_점유율     8116 non-null   float64
 69  리시브_시도     8116 non-null   int64
 70  리시브_정확     8116 non-null   int64
 71  리시브_실패     8116 non-null   int64
 72  리시브_세트당    8116 non-null   float64
 73  리시브_점유율    8116 non-null   float64
 74  블로킹_시도     8116 non-null   int64
 75  블로킹_성공     8116 non-null   int64
 76  블로킹_유효블락   8116 non-null   int64
 77  블로킹_실패     8116 non-null   int64
 78  블로킹_범실     8116 non-null   int64
 79  블로킹_세트당    8116 non-null   float64
 80  블로킹_점유율    8116 non-null   float64
 81  블로킹_어시스트   8116 non-null   int64
 82  벌칙_벌칙      8116 non-null   int64
 83  범실_범실      8116 non-null   int64
 84  스타팅멤버      8116 non-null   int64
 85  세트수        8116 non-null   int64
dtypes: float64(24), int64(54), object(8)
memory usage: 5.4+ MB

C:\Users\sujong\AppData\Local\Temp\ipykernel_13660\1882691837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['세트수'] = df_sub['세트수'].astype('int64')

In [ ]:
# 출전 세트 열 삭제
subset = ['출전세트_1set', '출전세트_2set', '출전세트_3set', '출전세트_4set', '출전세트_5set']

df_sub = df_sub.drop(subset, axis = 1)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_유효블락,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버,세트수
0,1,IBK기업은행,2017-10-14,0,메디 (L),24,67,20,4,2,...,5,6,1,0.60,21.28,1,0,7,1,5
1,1,IBK기업은행,2017-10-14,0,고예림 (L),15,40,12,6,4,...,7,3,0,0.00,10.64,0,0,6,1,5
2,1,IBK기업은행,2017-10-14,0,김희진 (R),15,36,10,2,2,...,6,3,0,0.80,14.89,1,0,6,1,5
3,1,IBK기업은행,2017-10-14,0,김미연 (L),7,16,5,1,0,...,2,7,0,0.40,12.77,3,0,1,1,5
4,1,IBK기업은행,2017-10-14,0,김수지 (C),6,16,4,1,2,...,13,9,0,0.20,29.79,2,0,3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이 (C),4,7,2,2,0,...,5,5,0,0.67,31.11,2,0,0,1,3
10989,474,KGC인삼공사,2022-02-28,0,정호영 (C),3,5,3,1,0,...,0,2,0,0.00,4.44,3,0,0,1,3
10990,474,KGC인삼공사,2022-02-28,0,고의정 (L),1,3,0,0,0,...,0,0,0,0.00,0.00,0,0,1,0,3
10991,474,KGC인삼공사,2022-02-28,0,하효림 (S),1,0,0,0,0,...,2,1,0,0.00,8.89,2,0,0,0,3
10996,474,KGC인삼공사,2022-02-28,0,채선아 (Li),0,0,0,0,0,...,0,0,0,0.00,0.00,0,0,0,0,3

In [ ]:
# 이름과 포지션 분리하기
# "이름" 열 : 이름 정보
# "포지션" 열 : 포지션 정보

df_sub['포지션'] = df_sub['이름'].str.split().str[1].str.strip('()')
df_sub['이름'] = df_sub['이름'].str.split().str[0]

df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_실패,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버,세트수,포지션
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,6,1,0.60,21.28,1,0,7,1,5,L
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,3,0,0.00,10.64,0,0,6,1,5,L
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,3,0,0.80,14.89,1,0,6,1,5,R
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,7,0,0.40,12.77,3,0,1,1,5,L
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,9,0,0.20,29.79,2,0,3,1,5,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,5,0,0.67,31.11,2,0,0,1,3,C
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,2,0,0.00,4.44,3,0,0,1,3,C
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0,0,0.00,0.00,0,0,1,0,3,L
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,1,0,0.00,8.89,2,0,0,0,3,S
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0,0,0.00,0.00,0,0,0,0,3,Li

In [ ]:
# 선수 별 득점 점유율 구하기 (개인 별 득점을 팀 전체의 득점으로 나누기)

df_sub_total_score = df_sub['득점_득점'].sum()
df_sub['득점점유율'] = df_sub['득점_득점'] / df_sub_total_score
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,블로킹_범실,블로킹_세트당,블로킹_점유율,블로킹_어시스트,벌칙_벌칙,범실_범실,스타팅멤버,세트수,포지션,득점점유율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,1,0.60,21.28,1,0,7,1,5,L,0.000401
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,0,0.00,10.64,0,0,6,1,5,L,0.000251
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,0,0.80,14.89,1,0,6,1,5,R,0.000251
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,0,0.40,12.77,3,0,1,1,5,L,0.000117
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,0,0.20,29.79,2,0,3,1,5,C,0.000100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,0,0.67,31.11,2,0,0,1,3,C,0.000067
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,0,0.00,4.44,3,0,0,1,3,C,0.000050
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0,0.00,0.00,0,0,1,0,3,L,0.000017
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,0,0.00,8.89,2,0,0,0,3,S,0.000017
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0,0.00,0.00,0,0,0,0,3,Li,0.000000

#### 공격 효율 지표 추가 : 소수점 2번째 자리까지

In [ ]:
''' 선수 별
오픈 공격 효율 구하기 : (오픈_성공 - 오픈_공격차단 - 오픈_범실 / 오픈_시도)
시간차 공격 효율 구하기 : (시간차_성공 - 시간차_공격차단 - 시간차_범실 / 시간차_시도)
이동 효율 구하기 : (이동_성공 - 이동_공격차단 - 이동_범실 / 이동_시도)
후위 효율 구하기 : (후위_성공 - 후위_공격차단 - 후위_범실 / 후위_시도)
속공 효율 구하기 : (속공_성공 - 속공_공격차단 - 속공_범실 / 속공_시도)
퀵오픈 효율 구하기 : (퀵오픈_성공 - 퀵오픈_공격차단 - 퀵오픈_범실 / 퀵오픈_시도)
'''

df_sub['오픈_효율'] = round((df_sub['오픈_성공']-df_sub['오픈_공격차단']-df_sub['오픈_범실']) / df_sub['오픈_시도']*100, 2)
df_sub['시간차_효율'] = round((df_sub['시간차_성공']-df_sub['시간차_공격차단']-df_sub['시간차_범실']) / df_sub['시간차_시도']*100, 2)
df_sub['이동_효율'] = round((df_sub['이동_성공']-df_sub['이동_공격차단']-df_sub['이동_범실']) / df_sub['이동_시도']*100, 2)
df_sub['후위_효율'] = round((df_sub['후위_성공']-df_sub['후위_공격차단']-df_sub['후위_범실']) / df_sub['후위_시도']*100, 2)
df_sub['속공_효율'] = round((df_sub['속공_성공']-df_sub['속공_공격차단']-df_sub['속공_범실']) / df_sub['속공_시도']*100, 2)
df_sub['퀵오픈_효율'] = round((df_sub['퀵오픈_성공']-df_sub['퀵오픈_공격차단']-df_sub['퀵오픈_범실']) / df_sub['퀵오픈_시도']*100, 2)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,스타팅멤버,세트수,포지션,득점점유율,오픈_효율,시간차_효율,이동_효율,후위_효율,속공_효율,퀵오픈_효율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,1,5,L,0.000401,17.07,100.00,NaN,0.00,NaN,36.36
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,1,5,L,0.000251,-24.00,NaN,NaN,NaN,NaN,53.33
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,1,5,R,0.000251,10.00,22.22,NaN,-11.11,NaN,50.00
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,1,5,L,0.000117,16.67,-100.00,33.33,NaN,0.00,60.00
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,1,5,C,0.000100,0.00,25.00,0.00,NaN,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,1,3,C,0.000067,-50.00,NaN,-50.00,NaN,66.67,NaN
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,1,3,C,0.000050,33.33,NaN,NaN,NaN,50.00,NaN
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0,3,L,0.000017,0.00,NaN,NaN,NaN,NaN,0.00
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,0,3,S,0.000017,NaN,NaN,NaN,NaN,NaN,NaN
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0,3,Li,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

#### 수비 지표 추가 : 소수점 2번째 자리까지

In [ ]:
''' 선수 별
디그 성공률 구하기 : 디그_성공/디그_시도
세트 성공률 구하기 : 세트_성공/세트_시도
리시브 성공률 구하기 : 리시브_정확/리시브_시도
블로킹 효율 구하기 : 블로킹_성공+블로킹_유효블락-블로킹_범실/블로킹_시도
'''
df_sub['디그_성공률'] = round(df_sub['디그_성공'] / df_sub['디그_시도'], 2)
df_sub['세트_성공률'] = round(df_sub['세트_성공'] / df_sub['세트_시도'], 2)
df_sub['리시브_성공률'] = round(df_sub['리시브_정확'] / df_sub['리시브_시도'], 2)
df_sub['블로킹_효율'] = round((df_sub['블로킹_성공'] + df_sub['블로킹_유효블락'] - df_sub['블로킹_범실']) / df_sub['블로킹_시도'], 2)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,오픈_효율,시간차_효율,이동_효율,후위_효율,속공_효율,퀵오픈_효율,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,17.07,100.00,NaN,0.00,NaN,36.36,0.83,0.00,0.39,0.35
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,-24.00,NaN,NaN,NaN,NaN,53.33,0.77,0.14,0.60,0.70
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,10.00,22.22,NaN,-11.11,NaN,50.00,0.92,0.00,NaN,0.71
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,16.67,-100.00,33.33,NaN,0.00,60.00,0.83,0.00,0.00,0.33
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,0.00,25.00,0.00,NaN,0.00,NaN,0.91,0.00,NaN,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,-50.00,NaN,-50.00,NaN,66.67,NaN,0.86,NaN,NaN,0.50
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,33.33,NaN,NaN,NaN,50.00,NaN,1.00,NaN,NaN,0.00
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0.00,NaN,NaN,NaN,NaN,0.00,0.67,NaN,0.00,NaN
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.67,0.41,0.00,0.50
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.33,0.14,0.53,NaN

```
공격 / 수비 효율, 성공률 이 0 인 경우 : 공격 / 수비 시도는 있으나 성공, 공격 차단, 범실, 정확이 없는 경우
                                        or 계산식의 분자부분이 0이 되는 경우
공격 / 수비 효율, 성공률 이 NaN 인 경우 : 공격 / 수비 시도, 성공, 공격 차단, 범실, 정확 모두 없는 경우
```

In [ ]:
# 공격 / 수비 효율, 성공률이 NaN 인 경우 0으로 변경

df_sub[['오픈_효율', '시간차_효율', '이동_효율', '후위_효율','속공_효율', '퀵오픈_효율',
    '디그_성공률', '세트_성공률', '리시브_성공률', '블로킹_효율']] = df_sub[['오픈_효율',
    '시간차_효율', '이동_효율', '후위_효율','속공_효율', '퀵오픈_효율', '디그_성공률', '세트_성공률',
    '리시브_성공률', '블로킹_효율']].fillna(0)
df_sub

,경기번호,팀명,경기날짜,결과,이름,득점_득점,공격종합_시도,공격종합_성공,공격종합_공격차단,공격종합_범실,...,오픈_효율,시간차_효율,이동_효율,후위_효율,속공_효율,퀵오픈_효율,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율
0,1,IBK기업은행,2017-10-14,0,메디,24,67,20,4,2,...,17.07,100.00,0.00,0.00,0.00,36.36,0.83,0.00,0.39,0.35
1,1,IBK기업은행,2017-10-14,0,고예림,15,40,12,6,4,...,-24.00,0.00,0.00,0.00,0.00,53.33,0.77,0.14,0.60,0.70
2,1,IBK기업은행,2017-10-14,0,김희진,15,36,10,2,2,...,10.00,22.22,0.00,-11.11,0.00,50.00,0.92,0.00,0.00,0.71
3,1,IBK기업은행,2017-10-14,0,김미연,7,16,5,1,0,...,16.67,-100.00,33.33,0.00,0.00,60.00,0.83,0.00,0.00,0.33
4,1,IBK기업은행,2017-10-14,0,김수지,6,16,4,1,2,...,0.00,25.00,0.00,0.00,0.00,0.00,0.91,0.00,0.00,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,KGC인삼공사,2022-02-28,0,한송이,4,7,2,2,0,...,-50.00,0.00,-50.00,0.00,66.67,0.00,0.86,0.00,0.00,0.50
10989,474,KGC인삼공사,2022-02-28,0,정호영,3,5,3,1,0,...,33.33,0.00,0.00,0.00,50.00,0.00,1.00,0.00,0.00,0.00
10990,474,KGC인삼공사,2022-02-28,0,고의정,1,3,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.67,0.00,0.00,0.00
10991,474,KGC인삼공사,2022-02-28,0,하효림,1,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.67,0.41,0.00,0.50
10996,474,KGC인삼공사,2022-02-28,0,채선아,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.33,0.14,0.53,0.00

In [ ]:
# 컬럼 선택

columns = [
    '경기번호',
    '경기날짜',
    '팀명',
    '결과',
    '이름',
#     '득점_득점',
#     '공격종합_시도',
#     '공격종합_성공',
#     '공격종합_공격차단',
#     '공격종합_범실',
    '공격종합_성공률',
#     '공격종합_점유율',
#     '오픈_시도',
#     '오픈_성공',
#     '오픈_공격차단',
#     '오픈_범실',
    '오픈_성공률',
#     '오픈_점유율',
    '오픈_효율',
#     '시간차_시도',
#     '시간차_성공',
#     '시간차_공격차단',
#     '시간차_범실',
    '시간차_성공률',
#     '시간차_점유율',
    '시간차_효율',
#     '이동_시도',
#     '이동_성공',
#     '이동_공격차단',
#     '이동_범실',
    '이동_성공률',
#     '이동_점유율',
    '이동_효율',
#     '후위_시도',
#     '후위_성공',
#     '후위_공격차단',
#     '후위_범실',
    '후위_성공률',
#     '후위_점유율',
    '후위_효율',
#     '속공_시도',
#     '속공_성공',
#     '속공_공격차단',
#     '속공_범실',
    '속공_성공률',
#     '속공_점유율',
    '속공_효율',
#     '퀵오픈_시도',
#     '퀵오픈_성공',
#     '퀵오픈_공격차단',
#     '퀵오픈_범실',
    '퀵오픈_성공률',
#     '퀵오픈_점유율',
    '퀵오픈_효율',
#     '서브_시도',
#     '서브_성공',
    '서브_범실',
    '서브_성공률',
#     '서브_점유율',
#     '디그_시도',
#     '디그_성공',
#     '디그_실패',
#     '디그_범실',
#     '디그_세트당',
#     '디그_점유율',
    '디그_성공률',
#     '세트_시도',
#     '세트_성공',
#     '세트_범실',
#     '세트_세트당',
#     '세트_점유율',
    '세트_성공률',
#     '리시브_시도',
#     '리시브_정확',
#     '리시브_실패',
#     '리시브_세트당',
#     '리시브_점유율',
    '리시브_성공률',
#     '블로킹_시도',
#     '블로킹_성공',
#     '블로킹_유효블락',
#     '블로킹_실패',
#     '블로킹_범실',
#     '블로킹_세트당',
#     '블로킹_점유율',
#     '블로킹_어시스트',
    '블로킹_효율',
#     '벌칙_벌칙',
    '범실_범실',
    '포지션',
    '득점점유율',
    '스타팅멤버',
    '세트수'
]


df_sub = df_sub[columns]

df_sub

,경기번호,경기날짜,팀명,결과,이름,공격종합_성공률,오픈_성공률,오픈_효율,시간차_성공률,시간차_효율,...,서브_성공률,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율,범실_범실,포지션,득점점유율,스타팅멤버,세트수
0,1,2017-10-14,IBK기업은행,0,메디,29.85,26.83,17.07,100.00,100.00,...,0.20,0.83,0.00,0.39,0.35,7,L,0.000401,1,5
1,1,2017-10-14,IBK기업은행,0,고예림,30.00,12.00,-24.00,0.00,0.00,...,0.60,0.77,0.14,0.60,0.70,6,L,0.000251,1,5
2,1,2017-10-14,IBK기업은행,0,김희진,27.78,20.00,10.00,44.44,22.22,...,0.20,0.92,0.00,0.00,0.71,6,R,0.000251,1,5
3,1,2017-10-14,IBK기업은행,0,김미연,31.25,16.67,16.67,0.00,-100.00,...,0.00,0.83,0.00,0.00,0.33,1,L,0.000117,1,5
4,1,2017-10-14,IBK기업은행,0,김수지,25.00,0.00,0.00,50.00,25.00,...,0.20,0.91,0.00,0.00,0.50,3,C,0.000100,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,2022-02-28,KGC인삼공사,0,한송이,28.57,0.00,-50.00,0.00,0.00,...,0.00,0.86,0.00,0.00,0.50,0,C,0.000067,1,3
10989,474,2022-02-28,KGC인삼공사,0,정호영,60.00,66.67,33.33,0.00,0.00,...,0.00,1.00,0.00,0.00,0.00,0,C,0.000050,1,3
10990,474,2022-02-28,KGC인삼공사,0,고의정,0.00,0.00,0.00,0.00,0.00,...,0.33,0.67,0.00,0.00,0.00,1,L,0.000017,0,3
10991,474,2022-02-28,KGC인삼공사,0,하효림,0.00,0.00,0.00,0.00,0.00,...,0.33,0.67,0.41,0.00,0.50,0,S,0.000017,0,3
10996,474,2022-02-28,KGC인삼공사,0,채선아,0.00,0.00,0.00,0.00,0.00,...,0.00,0.33,0.14,0.53,0.00,0,Li,0.000000,0,3

In [ ]:
df_sub.isna().sum()

경기번호        0
경기날짜        0
팀명          0
결과          0
이름          0
공격종합_성공률    0
오픈_성공률      0
오픈_효율       0
시간차_성공률     0
시간차_효율      0
이동_성공률      0
이동_효율       0
후위_성공률      0
후위_효율       0
속공_성공률      0
속공_효율       0
퀵오픈_성공률     0
퀵오픈_효율      0
서브_범실       0
서브_성공률      0
디그_성공률      0
세트_성공률      0
리시브_성공률     0
블로킹_효율      0
범실_범실       0
포지션         0
득점점유율       0
스타팅멤버       0
세트수         0
dtype: int64

### 이전의 결과로 예측하는 모델

In [ ]:
df=df_sub.copy()

In [ ]:
# 경기날짜의 데이터타입 변경 (datetime64)
df['경기날짜'] = df['경기날짜'].astype('datetime64')
df.dtypes

경기번호                 int64
경기날짜        datetime64[ns]
팀명                  object
결과                   int64
이름                  object
공격종합_성공률           float64
오픈_성공률             float64
오픈_효율              float64
시간차_성공률            float64
시간차_효율             float64
이동_성공률             float64
이동_효율              float64
후위_성공률             float64
후위_효율              float64
속공_성공률             float64
속공_효율              float64
퀵오픈_성공률            float64
퀵오픈_효율             float64
서브_범실                int64
서브_성공률             float64
디그_성공률             float64
세트_성공률             float64
리시브_성공률            float64
블로킹_효율             float64
범실_범실                int64
포지션                 object
득점점유율              float64
스타팅멤버                int64
세트수                  int64
dtype: object

#### 데이터 변경
- A, B팀의 스타팅 멤버들의 직전 경기력으로 승패 예측

In [ ]:
df['스타팅멤버']=1

In [ ]:
# 한 경기당 스타팅멤버의 수 확인
df.groupby(['경기날짜', '팀명'])['스타팅멤버'].sum().reset_index()['스타팅멤버'].unique()

array([ 8, 11,  9, 10,  6,  7,  5, 12], dtype=int64)

In [ ]:
# 스타팅멤버만 선택
df_starting = df[df['스타팅멤버'] == 1]
df_starting

,경기번호,경기날짜,팀명,결과,이름,공격종합_성공률,오픈_성공률,오픈_효율,시간차_성공률,시간차_효율,...,서브_성공률,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율,범실_범실,포지션,득점점유율,스타팅멤버,세트수
0,1,2017-10-14,IBK기업은행,0,메디,29.85,26.83,17.07,100.00,100.00,...,0.20,0.83,0.00,0.39,0.35,7,L,0.000401,1,5
1,1,2017-10-14,IBK기업은행,0,고예림,30.00,12.00,-24.00,0.00,0.00,...,0.60,0.77,0.14,0.60,0.70,6,L,0.000251,1,5
2,1,2017-10-14,IBK기업은행,0,김희진,27.78,20.00,10.00,44.44,22.22,...,0.20,0.92,0.00,0.00,0.71,6,R,0.000251,1,5
3,1,2017-10-14,IBK기업은행,0,김미연,31.25,16.67,16.67,0.00,-100.00,...,0.00,0.83,0.00,0.00,0.33,1,L,0.000117,1,5
4,1,2017-10-14,IBK기업은행,0,김수지,25.00,0.00,0.00,50.00,25.00,...,0.20,0.91,0.00,0.00,0.50,3,C,0.000100,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10988,474,2022-02-28,KGC인삼공사,0,한송이,28.57,0.00,-50.00,0.00,0.00,...,0.00,0.86,0.00,0.00,0.50,0,C,0.000067,1,3
10989,474,2022-02-28,KGC인삼공사,0,정호영,60.00,66.67,33.33,0.00,0.00,...,0.00,1.00,0.00,0.00,0.00,0,C,0.000050,1,3
10990,474,2022-02-28,KGC인삼공사,0,고의정,0.00,0.00,0.00,0.00,0.00,...,0.33,0.67,0.00,0.00,0.00,1,L,0.000017,1,3
10991,474,2022-02-28,KGC인삼공사,0,하효림,0.00,0.00,0.00,0.00,0.00,...,0.33,0.67,0.41,0.00,0.50,0,S,0.000017,1,3
10996,474,2022-02-28,KGC인삼공사,0,채선아,0.00,0.00,0.00,0.00,0.00,...,0.00,0.33,0.14,0.53,0.00,0,Li,0.000000,1,3

In [ ]:
## 경기 당 스타팅멤버가 5명 이상만 선택

# 스타팅멤버가 5명 미만이 포함된 날짜 선택
temp = (df_starting.groupby(['경기날짜', '팀명'])[['스타팅멤버']].sum() < 5).reset_index()
drop_dates = temp.loc[temp['스타팅멤버'], '경기날짜'].unique()

# drop_dates를 제외한 날짜만 선택
df_starting = df_starting[~df_starting['경기날짜'].isin(drop_dates)]

# 스타팅멤버 다시 확인
df_starting.groupby(['경기날짜', '팀명'])['스타팅멤버'].sum().value_counts()

9     280
8     276
10    175
7     133
11     39
6      32
5      10
12      3
Name: 스타팅멤버, dtype: int64

In [ ]:
df_starting.head()

,경기번호,경기날짜,팀명,결과,이름,공격종합_성공률,오픈_성공률,오픈_효율,시간차_성공률,시간차_효율,...,서브_성공률,디그_성공률,세트_성공률,리시브_성공률,블로킹_효율,범실_범실,포지션,득점점유율,스타팅멤버,세트수
0,1,2017-10-14,IBK기업은행,0,메디,29.85,26.83,17.07,100.00,100.00,...,0.2,0.83,0.00,0.39,0.35,7,L,0.000401,1,5
1,1,2017-10-14,IBK기업은행,0,고예림,30.00,12.00,-24.00,0.00,0.00,...,0.6,0.77,0.14,0.60,0.70,6,L,0.000251,1,5
2,1,2017-10-14,IBK기업은행,0,김희진,27.78,20.00,10.00,44.44,22.22,...,0.2,0.92,0.00,0.00,0.71,6,R,0.000251,1,5
3,1,2017-10-14,IBK기업은행,0,김미연,31.25,16.67,16.67,0.00,-100.00,...,0.0,0.83,0.00,0.00,0.33,1,L,0.000117,1,5
4,1,2017-10-14,IBK기업은행,0,김수지,25.00,0.00,0.00,50.00,25.00,...,0.2,0.91,0.00,0.00,0.50,3,C,0.000100,1,5

In [ ]:
# 데이터프레임 변경 (날짜, 팀 별 출전 선수 명단과 결과)
df_starting5 = df_starting.groupby(['경기날짜', '팀명'])[['이름', '결과']].agg({'이름' : lambda data : ' '.join(data).split(), '결과' : any})
df_starting5 = pd.DataFrame(df_starting5).reset_index()
df_starting5['이름'] = df_starting5['이름'].str[:5]
df_starting5.head()

        경기날짜       팀명                           이름     결과
0 2017-10-14  IBK기업은행     [메디, 고예림, 김희진, 김미연, 김수지]  False
1 2017-10-14     흥국생명     [심슨, 이재영, 정시영, 이한비, 김나희]   True
2 2017-10-15  KGC인삼공사    [알레나, 한송이, 유희옥, 최수빈, 이재은]  False
3 2017-10-15     현대건설  [엘리자베스, 황연주, 양효진, 김세영, 황민경]   True
4 2017-10-17    GS칼텍스     [강소휘, 듀크, 표승주, 문명화, 김유리]   True

In [ ]:
# 경기번호 추가
total = df_starting5.shape[0] // 2
df_starting5['경기번호'] = np.array([[i,i] for i in range(1, total+1)]).flatten()
df_starting5.head()

        경기날짜       팀명                           이름     결과  경기번호
0 2017-10-14  IBK기업은행     [메디, 고예림, 김희진, 김미연, 김수지]  False     1
1 2017-10-14     흥국생명     [심슨, 이재영, 정시영, 이한비, 김나희]   True     1
2 2017-10-15  KGC인삼공사    [알레나, 한송이, 유희옥, 최수빈, 이재은]  False     2
3 2017-10-15     현대건설  [엘리자베스, 황연주, 양효진, 김세영, 황민경]   True     2
4 2017-10-17    GS칼텍스     [강소휘, 듀크, 표승주, 문명화, 김유리]   True     3

In [ ]:
# 데이터프레임 변경 (경기 별 두 팀의 이름, 출전 선수 명단과 결과)
def concat_names(data) :
    result = []
    for d in data :
        result += d
    return result
df_game = df_starting5.groupby('경기번호').agg({'경기날짜' : lambda dates : dates.values[0],
                                                '팀명' : lambda teams : ' vs '.join(teams),
                                                '이름' : concat_names,
                                                '결과' : np.argmax}).reset_index()
df_game

,경기번호,경기날짜,팀명,이름,결과
0,1,2017-10-14,IBK기업은행 vs 흥국생명,"[메디, 고예림, 김희진, 김미연, 김수지, 심슨, 이재영, 정시영, 이한비, 김나희]",1
1,2,2017-10-15,KGC인삼공사 vs 현대건설,"[알레나, 한송이, 유희옥, 최수빈, 이재은, 엘리자베스, 황연주, 양효진, 김세영...",1
2,3,2017-10-17,GS칼텍스 vs 한국도로공사,"[강소휘, 듀크, 표승주, 문명화, 김유리, 이바나, 박정아, 정대영, 배유나, 최은지]",0
3,4,2017-10-18,IBK기업은행 vs 현대건설,"[메디, 김희진, 고예림, 김수지, 이고은, 엘리자베스, 양효진, 황연주, 김세영,...",1
4,5,2017-10-21,KGC인삼공사 vs 흥국생명,"[알레나, 한송이, 유희옥, 한수지, 최수빈, 심슨, 이재영, 정시영, 김나희, 임해정]",1
...,...,...,...,...,...
469,470,2022-02-24,GS칼텍스 vs 페퍼저축은행,"[모마, 유서연, 최은지, 문명화, 오지영, 엘리자벳, 이한비, 박경현, 하혜진, ...",0
470,471,2022-02-25,KGC인삼공사 vs 현대건설,"[옐레나, 박혜민, 정호영, 이소영, 한송이, 야스민, 양효진, 정지윤, 이다현, ...",0
471,472,2022-02-26,IBK기업은행 vs 흥국생명,"[표승주, 김희진, 산타나, 김수지, 최정민, 캣벨, 김미연, 정윤주, 이주아, 김채연]",0
472,473,2022-02-27,페퍼저축은행 vs 한국도로공사,"[박경현, 하혜진, 엘리자벳, 최가은, 구솔, 켈시, 박정아, 배유나, 전새얀, 정대영]",1
473,474,2022-02-28,GS칼텍스 vs KGC인삼공사,"[모마, 유서연, 최은지, 문명화, 안혜진, 옐레나, 이소영, 박혜민, 한송이, 정호영]",0

### 선수의 직전 5번의 기록 찾는 함수

In [ ]:
# 선수의 직전 5개의 기록 찾는 함수 정의
def find_five_previous_record(df, date, name) :
    day1 = pd.Timedelta(days=1)
    date -= day1
    
    while date >= df.loc[0, '경기날짜'] :
        row = df[(df['경기날짜'] <= date) & (df['이름'] == name)]
        if len(row) : # 이전 기록 존재
            return row.iloc[-5:, :]
        date -= day1
    else : # 이전 기록 존재 x
        return []

In [ ]:
# 각 선수 별 5번 직전 기록을 새로운 열에 추가
cols = ['공격종합_성공률','오픈_성공률','시간차_성공률','이동_성공률','후위_성공률','속공_성공률',
        '퀵오픈_성공률','서브_성공률','범실_범실', '오픈_효율', '시간차_효율', '이동_효율',
        '후위_효율','속공_효율', '퀵오픈_효율', '디그_성공률', '세트_성공률', '리시브_성공률', '블로킹_효율', '세트수']

rows = []
for i in range(len(df_game)) :
    date = df_game.loc[i, '경기날짜']
    names = df_game.loc[i, '이름']
    row = []
    
    for name in names :
        result = find_five_previous_record(df, date, name)
        if len(result) == 0 :
            row += [np.nan] * len(cols)
        else :
            row += list(result[cols].values.mean(axis=0).flatten())
    rows.append(row)

    
columns = []
for team in ['A팀', 'B팀'] :
    for player in ['선수1', '선수2', '선수3', '선수4', '선수5'] :
        columns += [f'{team}_{player}_{col}' for col in cols]
        
df_game5 = pd.concat([df_game, pd.DataFrame(rows, columns = columns)], axis = 1)
df_game5.tail()

,경기번호,경기날짜,팀명,이름,결과,A팀_선수1_공격종합_성공률,A팀_선수1_오픈_성공률,A팀_선수1_시간차_성공률,A팀_선수1_이동_성공률,A팀_선수1_후위_성공률,...,B팀_선수5_시간차_효율,B팀_선수5_이동_효율,B팀_선수5_후위_효율,B팀_선수5_속공_효율,B팀_선수5_퀵오픈_효율,B팀_선수5_디그_성공률,B팀_선수5_세트_성공률,B팀_선수5_리시브_성공률,B팀_선수5_블로킹_효율,B팀_선수5_세트수
469,470,2022-02-24,GS칼텍스 vs 페퍼저축은행,"[모마, 유서연, 최은지, 문명화, 오지영, 엘리자벳, 이한비, 박경현, 하혜진, ...",0,51.064,50.692,60.000,0.0,54.122,...,-20.000,50.0,0.0,11.000,0.00,0.600,0.040,0.000,0.606,3.4
470,471,2022-02-25,KGC인삼공사 vs 현대건설,"[옐레나, 박혜민, 정호영, 이소영, 한송이, 야스민, 양효진, 정지윤, 이다현, ...",0,38.274,30.596,20.000,0.0,42.434,...,33.334,0.0,20.0,0.000,31.35,0.904,0.034,0.368,0.760,3.8
471,472,2022-02-26,IBK기업은행 vs 흥국생명,"[표승주, 김희진, 산타나, 김수지, 최정민, 캣벨, 김미연, 정윤주, 이주아, 김채연]",0,40.182,36.546,20.000,0.0,0.000,...,6.666,-20.0,0.0,-2.000,0.00,0.910,0.300,0.000,0.534,3.4
472,473,2022-02-27,페퍼저축은행 vs 한국도로공사,"[박경현, 하혜진, 엘리자벳, 최가은, 구솔, 켈시, 박정아, 배유나, 전새얀, 정대영]",1,38.518,31.950,10.000,0.0,20.000,...,0.000,0.0,0.0,11.666,0.00,0.822,0.300,0.100,0.466,3.6
473,474,2022-02-28,GS칼텍스 vs KGC인삼공사,"[모마, 유서연, 최은지, 문명화, 안혜진, 옐레나, 이소영, 박혜민, 한송이, 정호영]",0,54.190,56.358,46.666,0.0,57.122,...,0.000,0.0,0.0,55.556,0.00,0.910,0.150,0.400,0.462,4.0

In [ ]:
# '경기번호', '경기날짜', '팀명', '이름' 열 삭제
data5 = df_game5.drop(['경기번호', '경기날짜', '팀명', '이름'], axis = 1)
data5

,결과,A팀_선수1_공격종합_성공률,A팀_선수1_오픈_성공률,A팀_선수1_시간차_성공률,A팀_선수1_이동_성공률,A팀_선수1_후위_성공률,A팀_선수1_속공_성공률,A팀_선수1_퀵오픈_성공률,A팀_선수1_서브_성공률,A팀_선수1_범실_범실,...,B팀_선수5_시간차_효율,B팀_선수5_이동_효율,B팀_선수5_후위_효율,B팀_선수5_속공_효율,B팀_선수5_퀵오픈_효율,B팀_선수5_디그_성공률,B팀_선수5_세트_성공률,B팀_선수5_리시브_성공률,B팀_선수5_블로킹_효율,B팀_선수5_세트수
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,29.850,26.830,100.000,0.0,8.330,0.0,45.450,0.200,7.0,...,20.000,0.0,0.0,0.000,27.27,0.870,0.170,0.580,0.550,5.0
4,1,38.890,37.700,0.000,0.0,40.000,0.0,50.000,0.000,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,0,51.064,50.692,60.000,0.0,54.122,0.0,27.324,0.500,6.2,...,-20.000,50.0,0.0,11.000,0.00,0.600,0.040,0.000,0.606,3.4
470,0,38.274,30.596,20.000,0.0,42.434,0.0,51.478,0.232,2.6,...,33.334,0.0,20.0,0.000,31.35,0.904,0.034,0.368,0.760,3.8
471,0,40.182,36.546,20.000,0.0,0.000,0.0,44.066,0.132,1.8,...,6.666,-20.0,0.0,-2.000,0.00,0.910,0.300,0.000,0.534,3.4
472,1,38.518,31.950,10.000,0.0,20.000,0.0,67.000,0.182,2.6,...,0.000,0.0,0.0,11.666,0.00,0.822,0.300,0.100,0.466,3.6
473,0,54.190,56.358,46.666,0.0,57.122,0.0,34.824,0.400,5.2,...,0.000,0.0,0.0,55.556,0.00,0.910,0.150,0.400,0.462,4.0

In [ ]:
# 결측치 제거
data = data5.dropna()
data

,결과,A팀_선수1_공격종합_성공률,A팀_선수1_오픈_성공률,A팀_선수1_시간차_성공률,A팀_선수1_이동_성공률,A팀_선수1_후위_성공률,A팀_선수1_속공_성공률,A팀_선수1_퀵오픈_성공률,A팀_선수1_서브_성공률,A팀_선수1_범실_범실,...,B팀_선수5_시간차_효율,B팀_선수5_이동_효율,B팀_선수5_후위_효율,B팀_선수5_속공_효율,B팀_선수5_퀵오픈_효율,B팀_선수5_디그_성공률,B팀_선수5_세트_성공률,B팀_선수5_리시브_성공률,B팀_선수5_블로킹_효율,B팀_선수5_세트수
3,1,29.850,26.830,100.000,0.0,8.330,0.0,45.450,0.200,7.0,...,20.000,0.0,0.0,0.000000,27.270,0.870000,0.170000,0.580,0.550000,5.000000
5,0,36.755,30.520,66.665,0.0,33.575,0.0,49.650,0.100,5.0,...,0.000,0.0,0.0,0.000000,0.000,0.810000,0.410000,0.000,0.750000,5.000000
6,1,35.290,42.860,25.000,0.0,37.500,0.0,18.180,0.000,6.0,...,0.000,0.0,0.0,0.000000,4.545,0.845000,0.245000,0.450,0.535000,5.000000
7,0,40.970,35.440,30.000,0.0,46.740,0.0,45.000,0.100,6.5,...,0.000,0.0,0.0,0.000000,0.000,0.945000,0.355000,0.000,0.625000,5.000000
8,1,44.570,44.155,12.500,0.0,54.860,0.0,37.660,0.125,7.5,...,50.000,0.0,0.0,63.703333,0.000,0.853333,0.166667,0.000,0.576667,4.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,0,51.064,50.692,60.000,0.0,54.122,0.0,27.324,0.500,6.2,...,-20.000,50.0,0.0,11.000000,0.000,0.600000,0.040000,0.000,0.606000,3.400000
470,0,38.274,30.596,20.000,0.0,42.434,0.0,51.478,0.232,2.6,...,33.334,0.0,20.0,0.000000,31.350,0.904000,0.034000,0.368,0.760000,3.800000
471,0,40.182,36.546,20.000,0.0,0.000,0.0,44.066,0.132,1.8,...,6.666,-20.0,0.0,-2.000000,0.000,0.910000,0.300000,0.000,0.534000,3.400000
472,1,38.518,31.950,10.000,0.0,20.000,0.0,67.000,0.182,2.6,...,0.000,0.0,0.0,11.666000,0.000,0.822000,0.300000,0.100,0.466000,3.600000
473,0,54.190,56.358,46.666,0.0,57.122,0.0,34.824,0.400,5.2,...,0.000,0.0,0.0,55.556000,0.000,0.910000,0.150000,0.400,0.462000,4.000000

홈 어웨이? 의미없는듯

In [ ]:
# data['홈팀'] = 1
# data.head(2)

#### 데이터 분리

In [ ]:
# 결과 열을 제외한 열은 X, 결과 열은 y에 저장
X = data.drop('결과', axis = 1)
y = data['결과']

In [ ]:
# 학습, 검증 데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [ ]:
X_train.head()

,A팀_선수1_공격종합_성공률,A팀_선수1_오픈_성공률,A팀_선수1_시간차_성공률,A팀_선수1_이동_성공률,A팀_선수1_후위_성공률,A팀_선수1_속공_성공률,A팀_선수1_퀵오픈_성공률,A팀_선수1_서브_성공률,A팀_선수1_범실_범실,A팀_선수1_오픈_효율,...,B팀_선수5_시간차_효율,B팀_선수5_이동_효율,B팀_선수5_후위_효율,B팀_선수5_속공_효율,B팀_선수5_퀵오픈_효율,B팀_선수5_디그_성공률,B팀_선수5_세트_성공률,B팀_선수5_리시브_성공률,B팀_선수5_블로킹_효율,B팀_선수5_세트수
471,40.182,36.546,20.0,0.0,0.000,0.0,44.066,0.132,1.8,25.304,...,6.666,-20.0,0.0,-2.0,0.000,0.910,0.300,0.000,0.534,3.4
119,48.488,52.858,20.0,0.0,42.992,0.0,41.730,0.172,3.6,47.132,...,20.000,0.0,0.0,0.0,45.000,0.834,0.388,0.496,0.698,4.0
170,37.154,40.950,0.0,0.0,26.456,0.0,39.088,0.066,4.8,29.188,...,0.000,0.0,0.0,0.0,0.000,0.810,0.430,0.000,0.410,3.8
264,41.246,36.690,20.0,0.0,44.560,0.0,48.880,0.374,4.8,22.960,...,0.000,0.0,0.0,0.0,18.000,0.524,0.066,0.058,0.134,4.6
262,37.820,30.766,54.0,0.0,41.834,0.0,43.408,0.100,6.4,9.260,...,20.000,0.0,-20.0,0.0,19.166,0.916,0.232,0.228,0.436,4.4

#### 모델링

In [ ]:
from sklearn.linear_model import LogisticRegression

lg = LogisticRegression(random_state=0)
lg.fit(X_train, y_train)
lg.score(X_train, y_train).round(3), lg.score(X_test, y_test).round(3)

c:\Users\sujong\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

(0.854, 0.57)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=0,max_depth = 7)
tree.fit(X_train, y_train)
tree.score(X_train, y_train).round(3), tree.score(X_test, y_test).round(3)

(0.953, 0.589)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(random_state = 0, max_depth = 5)
forest.fit(X_train, y_train)
forest.score(X_train, y_train).round(3), forest.score(X_test, y_test).round(3)

(1.0, 0.626)

In [ ]:
from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 0)
xgb.fit(X_train, y_train)
xgb.score(X_train, y_train).round(3), xgb.score(X_test, y_test).round(3)

(1.0, 0.626)